@media (min-width: 1067px) {
    .has-bg-img-mark {
    background: url('/img/mark_large.jpg');
    background-size: cover;
    background-position: center top;
  }
}

@media (min-width: 534px) and (max-width: 1066px) {
    .has-bg-img-mark {
    background: url('/img/mark_medium.jpg');
    background-size: cover;
    background-position: center top;
  }
}

@media (max-width: 533px) {
    .has-bg-img-mark {
    background: url('/img/mark_small.jpg');
    background-size: cover;
    background-position: center top;
  }
}

/*.has-bg-img-eclipse {
  background: url('/img/eclipse.jpg') center center;
  background-size: cover;
}

.has-bg-img-lake {
  background: url('/img/lake.jpg') center center;
  background-size: cover;
}

.has-bg-img-moon {
  background: url('/img/moon.jpg') center center;
  background-size: cover;
}

.has-bg-img-color {
  background: url('/img/color.jpg') center center;
  background-size: cover;
}

.has-bg-img-brick {
  background: url('/img/brick.jpg') center center;
  background-size: cover;
}*/

