.has-bg-img-fuji {
  background: url('/img/fuji.jpg') center center;
  background-size: cover;
}

.has-bg-img-eclipse {
  background: url('/img/eclipse.jpg') center center;
  background-size: cover;
}

.has-bg-img-lake {
  background: url('/img/lake.jpg') center center;
  background-size: cover;
}

.has-bg-img-moon {
  background: url('/img/moon.jpg') center center;
  background-size: cover;
}

.has-bg-img-color {
  background: url('/img/color.jpg') center center;
  background-size: cover;
}

.has-bg-img-brick {
  background: url('/img/brick.jpg') center center;
  background-size: cover;
}

