* {
  background-color: black;
  font-size: 20pt;
  font-family: monospace, Menlo, serif;
}

.logo {
  text-align: center;
  padding-top: 25px;
}

.header {
  color: white;
}

.header-contact {
  font-size: 16pt;
  text-decoration: underline;
}

.copyright {
  font-size: 14pt;
}

.copyright-icon {
  font-size: 1.0em;
}

.copyright-heart {
  color: red;
}
