h1 {
  -webkit-text-stroke: 1px black;
   /*text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;*/
}

@media all and (min-width: 1067px) {
  body {
    font-size: 30px;
  }
}

@media all and (min-width: 534px) and (max-width: 1066px) {
  body {
    font-size: 20px;
  }
}

@media all and (max-width: 533px) {
  body {
    font-size: 8px;
  }
}

.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid white; /* The typewriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 8s steps(40) 1s infinite alternate both,
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  0% {
    width: 0%
  }
  40%, 100% {
    width: 100%
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}
